<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head-meta.njk" %}
    {% if crawl == 'false' %}
    <meta name=”robots” content=”noindex”>
    {% endif %}
    {% block styles %}{% endblock %}
  </head>
  <body class="{% if section  %}single-page page-{{ page.fileSlug }}{% else %}home{% endif %}">

      {% if section == 'home' %}
        {% include "partials/site-header-large.njk" %}
      {% else %}
        {% include "partials/site-header.njk" %}
      {% endif %}

      <main class="c-site-content" role="main">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </main>

      {% include "partials/site-footer.njk" %}

  </body>

  {% include "partials/site-js-global.njk" %}
  {% block scripts %}{% endblock %}
</html>
