{% extends "layouts/base.njk" %}

{% block content %}
<section class="c-section c-section--article">
  <div class="l-container--lg">
    <time datetime="{{ page.date | dateISO }}" class="c-kicker">
      {{ page.date | dateFull }}
    </time>
    
    <h1 class="c-heading c-heading--lg">{{ title }}</h1>
      <div class="c-article-meta">
        <p>{{ content | timeToRead ('265 words a minute') }} read time</p>
        {% if tags %}
          <ul class="c-tag-list">
            {% for tag in tags %}
              <li class="c-tag">#{{ tag }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {{ content | safe }}
    <p>—<br>
      Cheers,<br>
      <img class="c-img" style="max-width:120px;height:auto;margin: -27px 0 0 -15px" src="/assets/img/signature.png" alt="Jesse Gardner">
    </p>
    <p>Read more in <a href="/daily/" title="Read more from Design Systems Daily...">the archives...</a></p>
  </div>
</section>
{% endblock %}