---
permalink: /index.html
pageTitle: "Home"
pageDescription: "Better collaboration between design and engineering teams."
eleventyNavigation:
  key: Home
  title: Home
  order: 1
---

{% extends "layouts/base.njk" %}

{% set metaTitle = pageTitle %}
{% set metaDescription = pageDescription %}
{% set currentSectionId = "home" %}

{% block content %}

  <section class="c-section">
    <div class="l-container">
      <h1 class="c-section__title">On a mission to eliminate handoff headaches.</h1>
      <div class="c-section__body">
        <p>If you build software, you know the friction that exists between idea and execution. Stakeholder have big ideas that never seem to make it to market. Designers create stunning comps that seem to always overpromise. Developers wage constant battle between speed and sustainability. Everyone ends up arguing over responsibility assignment, feature prioritization, tech debt, and padded estimates.</p>
      </div>
    </div>
  </section>

  <section class="c-section">
    <div class="l-container--lg">
      
      <div class="l-grid l-grid--2-col">
        <div class="l-grid__item l-grid__item--narrow">
          <div class="c-avatar">
            <img class="c-avatar__img" src="/assets/img/jesse-avatar.jpg" alt="Jesse Gardner">
          </div>
        </div>
        <div class="l-grid__item  l-grid__item--wide">
            <h2 class="c-section__title--left">Hi, I'm Jesse.</h2>
            <p>I started Practical Design Systems to help organizations solve these problems by helping design and engineering teams work better together — with design systems! </p>
            <p>I began in design and moved to engineering, so I understand both disciplines well. I’ve also been doing this for nearly 20 years, both as a solo entrepreneur and in leadership at various enterprise orgs, so I can provide strategic insights as well as practical tips.</p>
            <p><a href="https://plasticmind.com/contact/">Contact me.</a></p>
        </div>
      </div>

    </div>
  </section>

  {% include "partials/section-newsletter.njk" %}
  {% include "partials/section-testimonials.njk" %}

{% endblock %}