---
permalink: /
title: "Practical Design Systems"
description: "Practical advice for teams building digital products."
section: "home"
eleventyNavigation:
  key: Home
  title: Home
  order: 1
"changefreq": "weekly"
"priority": "1.0"
---

{% extends "layouts/base.njk" %}

{% block content %}

  <section class="c-section">
    <div class="l-container">
      <h1 class="c-section__title--center">Advice for building digital products at scale.</h1>
      <div class="c-section__body">
        <p>If you build digital products or manage a team that does, you've probably experienced the disconnect between the big ideas for your product... and what actually makes it into the hands of the customer.</p>

        <p> It's often messy, with many teams, competing priorities, and tech debt. And this mess leads to spinning wheels, wasted time, burnout, and a bad customer experience.</p>

        <p>I created <b>Practical Design Systems</b> to help orgs with multiple teams and products solve these problems. It's a small consultancy with a mission to promote better process, tools, and communication between stakeholders, designers, and developers.</p>

        <h3>Design Systems to the rescue?</h3>

        <p>Maybe. Maybe not. Each organization is different. The design system (or parts of one) that makes sense for your product or organization can vary wildly from the “standard model” you may have read about in a Medium article.</p>
        
        <p>Jump into my free <a href="{{ site.url }}/30-days/" title="Join Design Systems Daily"><b>30 Days of Design Systems email course</b></a> to learn more...</p>

      </div>
    </div>
  </section>

  {% include "partials/section-about.njk" %}
  {% include "partials/section-newsletter.njk" %}
  {% include "partials/section-testimonials.njk" %}


{% endblock %}

{% block scripts %}
  <script src="{{ site.url }}/assets/js/testimonials.js"></script>
  <script src="{{ site.url }}/assets/js/logo-animation.js"></script>
{% endblock %}