---
permalink: /privacy/
title: "Privacy Policy"
description: "What information do we collect?"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <section class="c-section">
    <div class="l-container--lg">
      <h1 class="c-section__title">{{title}}</h1>
      <p>I understand the importance of privacy and the responsibility that comes with handling your personal information. This privacy policy explains the ways I collect, use, and protect your data on <code>practicaldesignsystems.com</code>.</p>
      
      <h2>What information is collected?</h2>
      <p>When you use this website, I may collect personal information such as your name, email address, phone number, and company name. I may also collect non-personal information such as your IP address, browser type, and pages visited on our website for analytics purposes.</p>

      <h2>How is your information used?</h2>
      <p>This information is used to evaluate broad user trends and enhance the user experience. This may include contacting you about your inquiries, sending you newsletters or other promotional materials, and analyzing user behavior to improve the site.</p>
      <p>I don't share your personal information with any third parties except for the service providers who help us operate our this site (Netlify, GitForm, Fathom, ConvertKit). We require our service providers to maintain the same level of privacy and security standards as we do.</p>

      <h2>How do we protect your information?</h2>
      <p>I take the security of your personal information seriously and have implemented appropriate measures to protect it. This includes using industry-standard encryption technology, limiting access to your personal information, and regularly monitoring the various systems that power this site for vulnerabilities.</p>

      <h2>What are your rights?</h2>
      <p>You have the right to access and update your personal information, as well as request that I delete it. If you have any questions or concerns about our privacy policy or the way your personal information is handles, please <a href="/contact/" title="Contact me with any questions.">send me a message</a>.</p>

      <h2>Changes to this policy</h2>
      <p>I may update this privacy policy from time to time, so please review it periodically. Any changes will be posted on this page and will be effective immediately.</p>
      <p>Thank you for trusting me with your personal information. I'm committed to protecting your privacy and ensuring that your information is handled responsibly.</p>


  </div>
</section>
{% endblock %}