---
permalink: /services/
title: "Services"
description: "Some of the ways we can work together."
eleventyNavigation:
  key: Services
  title: Services
  order: 2
---

{% extends "layouts/base.njk" %}



{% block content %}
  <section class="c-section u-pad-b-0">
    <div class="l-container--lg">
      <h1 class="c-section__title">Services</h1>
      <p class="c-tagline__subtitle">I have a wide range of services for people who build software. If you're not sure which is the best fit for your needs, <a href="/contact/">send me a message</a> and we can figure it out together.</p> 
    </div>
  </section>
  <section class="c-section">
    <div class="l-container--lg">
      <div class="l-grid">
        <div class="l-grid__item">

          <div class="c-card">
            <h2 class="c-card__title">Assessment &amp; Roadmap</h2>
            <div class="c-card__body">
              <p>Do you have some disconnected pieces of a design system, but you want to take it to the next level? I can help your teams get unstuck by conducting an thorough discovery process with key representatives from design, dev, product, and stakeholders. Then I'll put together an assessment based on that feedback, including a roadmap with practical recommendations for next steps.</p>
              <p><a href="/contact/?service=design-system-assessment" class="c-button">Request Assessment</a></p>
            </div>
          </div>
          
          <div class="c-card">
            <h2 class="c-card__title">Oversight &amp; Support</h2>
            <div class="c-card__body">
              <p>Design systems work is so tightly coupled with organizational change, I've found that ongoing multi-month partnerships end up being the most successful. We'll go through a discovery process together, and but I'll make myself available for an agreed upon time to you or folks from your team to answer any questions and provide ongoing DS guidance needed — on a call, in an email, or on Slack.</p>
              <p><a href="/contact/?service=design-system-ongoing-support" class="c-button">Request Ongoing Support</a></p>
            </div>
          </div>

          <div class="c-card">
            <h2 class="c-card__title">Design System Training &amp; Workshops</h2>
            <div class="c-card__body">
              <p>Are you a designer or engineer passionate about building a design system at your org, but need help building something that people will use or getting buy-in from leadership? I can put together a workshop to help your team (and stakeholders) understand the value of a design system — and what approach makes the most sense for your organization. I'll also provide a list of resources to help you get started.</p>
              <p><a href="/contact/?service=design-system-workshop" class="c-button">Contact Me About a Workshop</a></p>
            </div>
          </div>

        </div>



        <div class="l-grid__item">

          <div class="c-card">
            <h2 class="c-card__title">Private Design Systems Coaching</h2>
            <div class="c-card__body">
              <p>There's an awful lot of resources about design systems available online. And if you try them all, you'll fail. Design systems work is understanding the big picture, then figuring out how to make it work for your org. In our private coaching sessions, I'll walk you through the high levels of design systems, and dive deep in the areas most relevant to you and your org. Similar to the DS assessment and roadmap, but it's a much more personal roadmap for how you can help your org or DS team find success.</p>
              <p><a href="/contact/?service=design-system-coaching" class="c-button">Request Private Coaching</a></p>
            </div>
          </div>

          <div class="c-card">
            <h2 class="c-card__title">Design Systems Pilot</h2>
            <div class="c-card__body">
              <p>Let's find a project in your org that already has traction, and piggyback off of it to launch or formalize your design system. I'll give you a framework for deciding on ideal pilot candidates and work together with your team to build "just enough" of a design system to provide value and make your next project easier.</p>
              <p><a href="/contact/?service=design-system-pilot" class="c-button">Request a Pilot</a></p>
            </div>
          </div>

          <div class="c-card">
            <!-- <p class="c-kicker"><span class="u-hidden">— </span>$800</p>-->
            <h2 class="c-card__title">1-on-1 Call</h2>
            <div class="c-card__body">
              <p>Do you have a competent design systems team in place, but need some expert advice? Are you a startup founder wanting some guidance on which tools are best suited for your particular needs? Need some ideas how to get more folks at your organization to use the design system you've already built? Book a 1-on-1 call and ask me anything about the DS challenges you're facing. There will be limited prep for these calls, but I'll give you or your team practical advice that they can put into action right away.</p>
              <p><a href="/contact/?service=1-on-1-call" class="c-button">Book A Call</a></p>
            </div>
          </div>

        </div>
  </section>

{% endblock %}