---
permalink: /services/
title: "Services"
description: "Here are a few of the different ways we can work together."
eleventyNavigation:
  key: Services
  title: Services
  order: 2
---

{% extends "layouts/base.njk" %}

{% block content %}
  <section class="c-section u-pad-b-0">
    <div class="l-container--lg">
      <h1 class="c-section__title">Services</h1>
      <p class="c-tagline__subtitle">Are you an org with multiple products ready to invest in a design system, but need guidance how to get things started? Are you a designer or engineer passionate about building a design system at your org, but you need help getting buy-in? I have a wide range of services for people like you. If you're not sure which is the best fit for your needs, send me a message and we can figure it out together.</p> 
    </div>
  </section>
  <section class="c-section">
    <div class="l-container--lg">
      <div class="l-grid">
        <div class="l-grid__item">
          <div class="c-card">
            <h2 class="c-card__title">Assessment + Roadmap</h2>
            <div class="c-card__body">
              <p>Do you have some disconnected pieces of a design system, but you want to take it to the next level? I can help your teams get unstuck by conducting an thorough discovery process with key representatives from design, dev, product, and stakeholders. Then I'll put together an assessment based on that feedback, including a roadmap with practical recommendations for next steps.</p>
              <p><a href="/contact/" class="c-button">Send Request</a></p>
            </div>
          </div>
          <div class="c-card">
            <h2 class="c-card__title">Oversight and Support</h2>
            <div class="c-card__body">
              <p>Design systems work is so tightly coupled with organizational change, I've found that ongoing partnerships end up being the most successful. We'll go through a discovery process together, and but I'll make myself available for an agreed upon time to you or folks from your team to answer any questions and provide ongoing DS guidance needed — on a call, in an email, or on Slack.</p>
              <p><a href="/contact/" class="c-button">Contact Me</a></p>
            </div>

          </div>
        </div>
        <div class="l-grid__item">
          <div class="c-card">
            <!-- <p class="c-kicker"><span class="u-hidden">— </span>$800</p>-->
            <h2 class="c-card__title">1-on-1 Call</h2>
            <div class="c-card__body">
              <p>Do you have a competent design systems team in place, but need some expert advice? Are you a startup founder wanting some guidance on which toolstack makes the most sense for your needs? Need some ideas how to get more folks at your organization to use the design system you've already built? Book a 1-on-1 call and ask me anything about the DS challenges you're facing. There will be limited prep for these calls, but I'll give you or your team practical advice that they can put into action right away.</p>
              <p><a href="/contact/" class="c-button">Book A Call</a></p>
            </div>
          </div>

          <div class="c-card">
            <h2 class="c-card__title">Design System Workshop</h2>
            <div class="c-card__body">
              <p>Are you a designer or engineer passionate about building a design system at your org, but you need help getting buy-in? I can help you put together a workshop to help your team (and stakeholders) understand the value of a design system, and how best to get started. I'll also provide a list of resources to help you get started.</p>
              <p><a href="/contact/" class="c-button">Contact Me</a></p>
            </div>
          </div>
        </div>
  </section>

{% endblock %}