:root {
    /* Foundations */
    /* -- Colors */
    --red-50: hsl(358, 100%, 50%);
    --yellow-50: hsl(60, 100%, 75%);
    --green-50: hsl(149, 100%, 50%);
    --cyan-50: hsl(180, 100%, 50%);
    --blue-50: hsl(238, 100%, 50%);
    --purple-50: hsl(300, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --gray-80: hsl(200, 5%, 80%);
    --gray-40: hsl(200, 5%, 40%);
    --gray-20: hsl(200, 5%, 20%);
    /* -- Typography */
    --font-family-body: 'degular-text', sans-serif;
    --font-family-heading: 'degular-display', sans-serif;
    --font-weight: 500;
    --line-height: 1.5;
    /* -- Font Scale (base on golden ratio) */
    --font-scale-ratio: 1.25;
    --font-sm: calc( var(--font-md) / var(--font-scale-ratio));
    --font-md: 1.25rem;
    --font-lg: calc( var(--font-md) * var(--font-scale-ratio));
    --font-xl: calc( var(--font-lg) * var(--font-scale-ratio));
    --font-xxl: calc( var(--font-xl) * var(--font-scale-ratio));
    --font-xxxl: calc( var(--font-xxl) * var(--font-scale-ratio));
    --font-xxxxl: calc( var(--font-xxxl) * var(--font-scale-ratio));
    /* -- Spacing */
    --spacing-sm: 0.25rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 1rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 4rem;
    --spacing-xxxl: 8rem;
    /* -- Layout */
    --max-width: 768px;
    --max-width-lg: 1024px;
    /* -- Breakpoints */
    --bp-sm: 320px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;
    /* Transitions */
    --transition-sm: 0.2s;
    --transition-md: 0.6s;
    --transition-lg: 1.8s;
    /* Easing */
    --transition-easing: ease;
    /* Semantics */
    --primaryFont: var(--font-family-sans);
}

body {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    font-size: var(--font-md);
    color: var(--black);
    /* background: linear-gradient(180deg, var(--gray-80) 0%, var(--white) 10%); */
    background: linear-gradient(180deg, var(--gray-80) 0%, var(--white) 10%);
}

img {
    max-width: 100%;
    height: auto;
}


/* Headers */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family-heading);
    line-height: 1.1;
    color: var(--gray-40);
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
}

h1 {
    font-size: var(--font-xxxl);
}

h2 {
    font-size: var(--font-xxl);
}


/* Links */

a {
    color: var(--black);
    padding: 0 var(--spacing-sm);
    text-decoration: none;
    background-image: linear-gradient(var(--cyan-50), var(--cyan-50));
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 33%;
    transition: all var(--transition-sm) var(--transition-easing);
}

a:hover {
    background-size: 100% 90%;
}


/* Layout */

.l-container,
.l-container--lg {
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
    overflow: hidden;
}

.l-container {
    max-width: var(--max-width);
}

.l-container--lg {
    max-width: var(--max-width-lg);
}


/* Grids */

.l-grid {
    display: grid;
    grid-gap: var(--spacing-xxl);
    align-items: top;
    grid-template-columns: repeat(12, 1fr);
}

.l-grid--2-col .l-grid__item {
    grid-column: span 6;
}


/* Socials */

.c-site-footer .l-grid {
    grid-gap: 0;
}


/* Site Header */

.c-site-header {
    text-align: center;
    padding: var(--spacing-xxxl) 0 0 0;
}

.c-logo {
    overflow: hidden;
}

.c-logo svg {
    max-width: 100%;
    height: auto;
}

.c-logo svg:first-child {
    margin-bottom: var(--spacing-xxl);
}

.c-logo svg g {
    mix-blend-mode: normal !important;
}

.c-logo svg path {
    /* fill: #0f0; */
}


/* Components */


/* Section */

.c-section {
    padding: var(--spacing-xxl) 0;
}


/* Breakpoints */

@media screen and (max-width: 768px) {
    .l-grid--2-col {
        grid-template-columns: repeat(1, 1fr);
    }
}