:root {
    /* Foundations */
    /* -- Colors */
    --red-90: hsl(358, 100%, 90%);
    --red-80: hsl(358, 100%, 80%);
    --red-50: hsl(358, 100%, 50%);
    --red-40: hsl(358, 100%, 40%);
    --red-30: hsl(358, 100%, 30%);
    --red-20: hsl(358, 100%, 20%);
    --yellow-50: hsl(60, 100%, 75%);
    --green-90: hsl(149, 100%, 90%);
    --green-80: hsl(149, 100%, 80%);
    --green-50: hsl(149, 100%, 50%);
    --green-40: hsl(149, 100%, 40%);
    --green-30: hsl(149, 100%, 30%);
    --green-20: hsl(149, 100%, 20%);
    --cyan-90: hsl(180, 100%, 90%);
    --cyan-80: hsl(180, 100%, 80%);
    --cyan-50: hsl(180, 100%, 50%);
    --cyan-40: hsl(180, 100%, 40%);
    --cyan-30: hsl(180, 100%, 30%);
    --cyan-20: hsl(180, 100%, 20%);
    --blue-90: hsl(238, 100%, 90%);
    --blue-80: hsl(238, 100%, 80%);
    --blue-50: hsl(238, 100%, 50%);
    --blue-20: hsl(238, 100%, 20%);
    --purple-50: hsl(300, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --gray-90: hsl(200, 5%, 90%);
    --gray-80: hsl(200, 5%, 80%);
    --gray-40: hsl(200, 5%, 40%);
    --gray-20: hsl(200, 5%, 20%);
    /* -- Typography */
    --font-family-body: 'degular-text', sans-serif;
    --font-family-heading: 'degular-display', sans-serif;
    --font-family-mono: monospace;
    --font-weight: 500;
    --line-height: 1.5;
    /* -- Font Scale (base on golden ratio) */
    --font-scale-ratio: 1.25;
    --font-sm: calc( var(--font-md) / var(--font-scale-ratio));
    --font-md: 1.05rem;
    --font-lg: calc( var(--font-md) * var(--font-scale-ratio));
    --font-xl: calc( var(--font-lg) * var(--font-scale-ratio));
    --font-xxl: calc( var(--font-xl) * var(--font-scale-ratio));
    --font-xxxl: calc( var(--font-xxl) * var(--font-scale-ratio));
    --font-xxxxl: calc( var(--font-xxxl) * var(--font-scale-ratio));
    /* -- Spacing */
    --spacing-sm: 0.25rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 1rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 4rem;
    --spacing-xxxl: 8rem;
    /* -- Layout */
    --max-width: 512px;
    --max-width-lg: 768px;
    --max-width-xl: 1024px;
    /* -- Breakpoints */
    --bp-sm: 320px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;
    /* Border Radius */
    --border-radius: 0;
    /* Transitions */
    --transition-sm: 0.2s;
    --transition-md: 0.6s;
    --transition-lg: 1.8s;
    /* Easing */
    --transition-easing: cubic-bezier(0.23, 1, 0.32, 1);
    /* Semantics */
    --primaryFont: var(--font-family-sans);
}


/* Simple Reset */

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}


/* Globals */

html,
body,
input,
button,
textarea,
select {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    font-size: var(--font-md);
    color: var(--black);
}


/* Headers */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-family-heading);
    line-height: 1.1;
    color: var(--gray-20);
    margin: 0;
    padding: 0 0 var(--spacing-md);
    letter-spacing: 1px;
    font-weight: 600;
}

h1 {
    font-size: var(--font-xxxl);
}

h2 {
    font-size: var(--font-xxl);
}


/* Layout */

.l-container,
.l-container--lg,
.l-container--xl {
    margin: 0 auto;
    padding: 0 var(--spacing-lg);
    overflow: hidden;
}

.l-container {
    max-width: var(--max-width);
}

.l-container--lg {
    max-width: var(--max-width-lg);
}

.l-container--xl {
    max-width: var(--max-width-xl);
}


/* Grids */

.l-grid {
    display: grid;
    grid-gap: var(--spacing-xl);
    align-items: top;
    grid-template-columns: repeat(12, 1fr);
}

.l-grid--2-col .l-grid__item {
    grid-column: span 6;
}

.l-grid--2-col .l-grid__item--wide {
    grid-column: span 7;
}

.l-grid--2-col .l-grid__item--narrow {
    grid-column: span 5;
}


/* Components */


/* == Section */

.c-section {
    padding: var(--spacing-xxl) 0;
    background: var(--white);
}

.c-section--inverse {
    background: var(--gray-80);
    color: var(--white);
}

.c-section__title {
    text-align: center;
}

.c-section__title--left {
    text-align: left;
}


/* == Links */


/* Links */

a {
    color: var(--black);
    padding: 0 var(--spacing-sm);
    text-decoration: none;
    background-image: linear-gradient(var(--cyan-50), var(--cyan-50));
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 33%;
    transition: all var(--transition-md) var(--transition-easing);
}

a:hover,
a:focus {
    color: var(--black);
    background-size: 100% 90%;
    transition: all var(--transition-sm) var(--transition-easing);
}

a:focus {
    background-size: 100% 100%;
}


/* == Avatar */

.c-avatar {
    display: block;
    margin: 0 auto var(--spacing-md);
}

.c-avatar img {
    border-radius: 100%;
}


/* == Form */

.c-form {
    text-align: center;
    margin: 0 auto;
}

.c-form__field {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 2px solid var(--gray-40);
}

.c-form__label {
    display: none;
}

.c-form__input {
    flex: 1;
    margin: 0;
    border: 0;
    padding: var(--spacing-sm) var(--spacing-md);
}

.c-form__input:focus {
    outline: 0;
    border-radius: 0;
}

.c-form__submit {
    cursor: pointer;
    color: var(--white);
    border: 0;
    background: var(--blue-50);
    padding: var(--spacing-sm) var(--spacing-md);
}

.c-form__submit svg {
    fill: var(--white);
    width: 70%;
    vertical-align: middle;
}

.c-form__field:focus-within {
    border: 2px solid var(--blue-50);
}

.c-form__field:focus-within .c-form__submit {
    outline: 0;
    background: var(--blue-50);
}

.c-form__submit:focus svg,
.c-form__submit:hover svg {
    transform: translateY(-1px);
    transition: transform var(--transition-sm) var(--transition-easing);
    filter: drop-shadow(1px 2px 0px var(--black));
}


/* == ConvertKit Form */


/* == Needs to be especially specific because CK hardcodes inline styles */

.formkit-fields {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-xl) !important;
}


/* Fields */

.formkit-fields>div,
.formkit-fields>button {
    flex: 0 0 auto !important;
    border-radius: var(--border-radius) !important;
}


/* Input field */

.formkit-fields>div {
    margin-right: var(--spacing-lg) !important;
    flex: 3 0 auto !important;
}

.formkit-fields input[type="text"] {
    border-radius: var(--border-radius) !important;
}

.formkit-fields:focus-within input[type="text"] {
    border: 1px solid var(--blue-50) !important;
    border-radius: var(--border-radius) !important;
}


/* Submit button */

.formkit-fields>button,
.formkit-submit {
    padding: 0 !important;
    background-color: var(--blue-50) !important;
    font-weight: bold !important;
    border: solid 1px transparent !important;
    transition: all var(--transition-md) var(--transition-easing);
}

.formkit-fields>button:hover,
.formkit-fields>button:focus,
.formkit-submit:hover,
.formkit-submit:focus {
    background-color: var(--gray-20) !important;
    transform: translateY(-1px);
    filter: drop-shadow(1px 2px 0px var(--gray-80));
    transition: all var(--transition-sm) var(--transition-easing);
}

.formkit-fields>button:active {
    background-color: var(--black) !important;
    transform: translateY(1px);
    filter: drop-shadow(0);
}


/* Alert */

.formkit-alert {
    margin-top: var(--spacing-md);
    font-size: var(--font-sm);
    border-radius: var(--border-radius) !important;
    font-weight: bold;
}

.formkit-alert-error {
    border-color: var(--red-50) !important;
    background-color: var(--white) !important;
    color: var(--red-50) !important;
}

.formkit-alert-success {
    border-color: transparent !important;
    background-color: var(--cyan-50) !important;
    color: var(--black) !important;
}


/* == Site Header */

.c-site-header {
    position: relative;
    text-align: center;
    padding: var(--spacing-xxxl) 0 0 0;
    margin: 0 auto;
}

.c-site-header:before {
    position: absolute;
    top: 0;
    z-index: -1;
    content: " ";
    display: block;
    background: linear-gradient(180deg, var(--gray-80) 0%, var(--white) 100%);
    width: 100%;
    height: 180px;
}


/* == Site Footer */

.c-site-footer {
    padding: var(--spacing-xl) 0;
    margin: 0 auto;
}


/* == Social Links */

.c-social-links ul {
    display: grid;
    max-width: calc( 100% - var(--spacing-lg));
    align-items: top;
    grid-template-columns: repeat(3, 1fr);
    margin-left: var(--spacing-lg);
    grid-gap: var(--spacing-lg) var(--spacing-xxl);
}

.c-social-links li {
    white-space: nowrap;
}

.c-social-links .c-link__icon {
    display: inline-block;
    margin: 0 var(--spacing-md) 0 0;
    transform: translateY(2px);
}

.c-social-links .c-link__icon svg {
    max-width: 16px;
    height: auto;
}

.c-social-links .c-link__icon svg path {
    fill: var(--gray-40) !important;
}

.c-social-links a {
    opacity: 0.5;
    background-size: 100% 0%;
    padding: 0;
    background-image: linear-gradient(var(--gray-20), var(--gray-20));
}

.c-social-links a:hover,
.c-social-links a:focus {
    opacity: 1;
    background-size: 100% 6%;
}


/* == Site Footer Nav */

.c-nav {
    font-size: var(--font-lg);
    margin: 0 auto;
    max-width: var(--max-width-lg);
}

.c-nav hr {
    border: 0;
    border-top: 1px solid var(--gray-90);
    margin: var(--spacing-xl) 0;
}

.c-nav ul {
    display: flex;
    justify-content: center;
    align-items: top;
    margin: var(--spacing-xl) auto;
}

.c-nav li {
    margin: 0 var(--spacing-xl);
}


/* == Site Logo */

.c-logo svg {
    max-width: 90%;
    height: auto;
}

.c-logo__wordmark {
    margin-bottom: var(--spacing-xxl);
}

.c-logo__icon svg {
    transform: translate3d(0, 0, 0);
}

.c-logo__icon .c-logo-shape {
    mix-blend-mode: screen;
}

.c-logo__icon .c-logo-shape--outline path {
    stroke: var(--gray-20);
    stroke-dasharray: 5 10;
}


/* == Simple Utility Classes */

.u-center {
    text-align: center;
}


/* == Debug */

.c-debug {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: var(--gray-20);
    color: var(--white);
    padding: var(--spacing-sm);
    font-size: var(--font-size-xs);
    font-family: var(--font-family-mono);
    width: 100%;
}

.c-debug pre {
    display: inline-block;
    margin-left: var(--spacing-lg);
    padding-left: var(--spacing-lg);
    border-left: 1px solid var(--white);
}

.c-debug pre:first-child {
    border-left: 0;
}


/* Breakpoints */

@media screen and (max-width: 768px) {
    .c-site-header {
        padding: var(--spacing-xxl) 0 0 0;
    }
    .c-logo__wordmark {
        margin-bottom: var(--spacing-xl);
    }
    .c-logo__icon {
        width: 300%;
        overflow: hidden;
        margin-left: calc(var(--spacing-lg) * -1);
    }
    .c-logo__icon svg {
        margin-left: -66%;
    }
    .c-section {
        padding: var(--spacing-xl) 0;
    }
    .c-avatar {
        max-width: 66%;
        margin-bottom: var(--spacing-xl);
    }
    .l-grid {
        grid-gap: 0;
    }
    .l-grid--2-col {
        grid-template-columns: repeat(1, 1fr);
    }
    .c-nav {
        font-size: var(--font-md);
    }
    .c-nav li {
        margin: 0 var(--spacing-md);
        white-space: nowrap;
    }
    .c-social-links ul {
        margin-left: var(--spacing-md);
        grid-gap: var(--spacing-lg);
    }
}