<nav>
    <a href="/">Home</a>
    <ul class="nav-items">       
        <li><a class="nav__item" href="/blog">Blog</a></li>
        <li><a class="nav__item" href="/work-with-bryan">Work</a></li>
        <li><a class="nav__item" href="/about">About</a></li>
        <li><a class="nav__item" href="/contact">Contact</a></li>
    </ul>
</nav>