  <section class="c-section">
    <div class="l-container--lg">
      
      <div class="l-grid l-grid--2-col">
        <div class="l-grid__item l-grid__item--sm">
          <div class="c-avatar">
            <img class="c-avatar__img" src="/assets/img/jesse-avatar.jpg" alt="Jesse Gardner">
          </div>
        </div>
        <div class="l-grid__item  l-grid__item--lg">
            <h2 class="c-section__title--left">Hi, I'm Jesse.</h2>
            <p>I've been in the industry for 20 years, both as a solo entrepreneur and in leadership at large organizations. I started in design and pivoted to engineering, so I understand both disciplines well and can provide both <b>high-level strategy</b> for leaders as well as <b>hands-on tips</b> for practitioners.</p>
            <p>Interested? <a href="{{ site.url }}/daily/" title="Join Design Systems Daily.">Join my daily list.</a></p>
        </div>
      </div>

    </div>
  </section>