  <section class="c-section">
    <div class="l-container">
      
      {%- if section !="daily" -%}<h2 class="c-section__title--center">Design Systems Daily</h2>{%- endif -%}
      <h3 class="c-kicker" style="margin-left:25%"><span class="u-wiggle">🚀</span> &nbsp;Launching Tuesday, May 9, 2023</h3>
      <div class="c-section__body js-subscribe-form">
        <p>Sign up to get daily bite-sized insights in your inbox about design systems, product design, and team-building:</p>
        {% include "partials/form-subscribe.njk" %}
        <p class="u-center">Why should you subscribe? <a href="{{ site.url }}/daily/" title="More information about Design Systems Daily">More details here.</a></p>
      </div>
    </div>
  </section>
