  <section class="c-section">
    <div class="l-container">
      <h2 class="c-section__title">Daily Emails</h2>
      <div class="c-section__body u-center js-subscribe-form">
        <p>Sign up to get daily bite-sized insights in your inbox about design systems, product design, and team-building:</p>
        {% include "partials/form-subscribe.njk" %}
      </div>
    </div>
  </section>
