  <section class="c-section c-section--article u-pb-xxl">
    <div class="l-container--lg">
      <h1 class="c-section__title">Design Systems Daily</h1>
      <h3 class="c-kicker">Launching → Tuesday, May 9, 2023</h3>
      <p class="c-tagline__subtitle">🚀 I'm launching a daily email newsletter about designing digital products. After months of research, writing, and interviews, and many more years (nay, decades!) of experience building digital products as both a design and a developer, I felt like it was time to share what I've learned.</p>
      <div class="c-screenshot c-screenshot--right">
        <img src="{{ site.url }}/assets/img/pds-screenshot.png" alt="Screenshots of a sample email" class="c-screenshot__image">
      </div>
      <h2>30 Days...</h2> 
      <p>To kick off this list, <b>the first 30 emails will be design system fundamentals</b>, delivered in daily bite-sized chunks. I'll walk you through key concepts of design systems and answer a lot of common questions.</p>
      <p>This is geared toward <b>tech leadership</b> at orgs with multiple teams or products, and <b>designers</b>, <b>developers</b>, and <b>product owners</b> within those orgs. But there’s value here for anyone wanting to learn more about how to build better digital products.</p>
      <h2>If you have questions like...</h2>
        <ul>
          <li>What the heck is (and isn’t) a design system, anyway?</li>
          <li>What sort of value can a design system bring to our organization?</li>
          <li>More importantly, what sort of value (if any) can a design system bring to our customers?</li>
          <li>What is the best way to get started with a design system?</li>
          <li>When is the best time to get started with a design system?</li>
          <li>Do we have to go all in, or can we use some parts?</li>
          <li>Should we build our own or use someone else's?</li>
          <li>How do we get support from leadership?</li>
          <li>What common architectural patterns should we consider?</li>
          <li>What common pitfalls should we avoid?</li>
        </ul>
        <h2>...and have experienced...</h2>
        <ul>
          <li>Frustratingly inconsistent customer experiences across your digital products</li>
          <li>Solving the same problem over and over, 17 different ways</li>
          <li>A breakdown in communication between design and engineering teams</li>
          <li>Solutions that take only one team's needs into consideration</li>
          <li>A replatform that took far longer than it should have</li>
          <li>Designs that don't match the final product</li>
          <li>A lonely inbox <span class="u-wiggle-hover">📨</span></li>
        </ul>
        <h2>...then this is for you.</h2>
        <p>Subscribe today. 👇 The first email goes out <b><time datetime="2023-05-09">Tuesday, May 9, 2023</time></b>.</p>
        {% include "partials/form-subscribe.njk" %}
        <h3><span class="u-wiggle-hover">🚀</span> Launching — <time datetime="2023-05-09">May 9, 2023</time></h3>
    </div>
  </section>

{% include "partials/section-about.njk" %}