  <section class="c-section"> 
    <div class="l-container--lg">
      <h2 class="c-section__title">People I've Helped</h2> 

      <div class="l-grid l-grid--2-col">

        <div class="l-grid__item">
          <div class="c-testimonial">
            <div class="c-testimonial__body">
              <p class="c-testimonial__text">“I appreciated Jesse's balance of hands-on doing and client coaching and empowerment. He brought tools and templates from prior experience, but right-sized them for our particular context, then helped implement it so that it became part of our core process. We got exactly what we needed to be unblocked, in a way that felt easy to maintain over time.”</p>
              <p class="c-testimonial__author">- Becky Buck, <em>Forge</em></p>
            </div>
          </div>
        </div>

        <div class="l-grid__item">
          <div class="c-testimonial"> 
            <div class="c-testimonial__body">
              <p class="c-testimonial__text">“Jesse is a good problem solver and a good collaborator. Not only does he come up with creative ways to solve design problems, he welcomes input from others to come to the best solution. He puts results over ego.”</p>
              <p class="c-testimonial__author">- Elise Bauer, <em>Simply Recipes</em></p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>