      <nav class="c-nav" role="navigation" aria-label="Site Navigation">
        <ul>
          <li><a href="{{ site.url }}" class="c-link" title="Home">Home</a></li>
          <li><a href="{{ site.url }}/services" class="c-link" title="Services">Services</a></li>
          <li><a href="{{ site.url }}/daily" class="c-link" title="Daily Email Newsletter">Daily</a></li>
          <li><a href="{{ site.url }}/contact" class="c-link" title="Contact">Contact</a></li>
        </ul>
      </nav>