      <section class="c-site-header">
        <div class="l-container--lg">
          <div class="c-logo">
            <div class="c-logo--full">
              <a href="{{site.url}}" title="← Home">
                {% include "svg/logo-pds-full.svg" %}
              </a>
            </div>
          </div>
        </div>
      </section>