  <section class="c-site-header c-site-header--lg">
    <div class="l-container">
      <div class="c-logo">
        <div class="c-logo--wordmark">{% include "svg/logo-pds-wordmark.svg" %}</div>
      </div>
    </div>
    <div class="l-container--xl">
      <div class="c-logo">
        <div class="c-logo--icon">{% include "svg/logo-pds-icon.svg" %}</div>
      </div>
    </div>
  </section> 