      <hr class="c-hr">
      {% include "partials/site-nav.njk" %}
      <footer class="c-site-footer">
        <div class="l-container">
          <div class="c-social-links">
            <ul>
              <li><span class="c-link__icon">{% include "svg/icon-email.svg" %}</span><a href="mailto:jesse@plasticmind.com" class="c-link" target="_blank" rel="noopener noreferrer" title="Send me an email.">Email</a></li>
              <li><span class="c-link__icon">{% include "svg/icon-plasticmind.svg" %}</span><a href="https://plasticmind.com" class="c-link" target="_blank" rel="noopener noreferrer" title="Writing about technology on Plasticmind.">Plasticmind</a></li>
              <li><span class="c-link__icon">{% include "svg/icon-adplist.svg" %}</span><a href="https://adplist.org/mentors/jesse-gardner" class="c-link" target="_blank" rel="noopener noreferrer" title="Mentoring people on ADPList.">ADPList</a></li>
              <li><span class="c-link__icon">{% include "svg/icon-linkedin.svg" %}</span><a href="https://linkedin.com/in/plasticmind/" class="c-link" target="_blank" rel="noopener noreferrer" title="Connecting with professionals on LinkedIn.">LinkedIn</a></li>
              <li><span class="c-link__icon">{% include "svg/icon-twitter.svg" %}</span><a href="https://twitter.com/plasticmind" class="c-link" target="_blank" rel="noopener noreferrer" title="Connecting with people on Twitter.">Twitter</a></li>
              <li><span class="c-link__icon">{% include "svg/icon-tiktok.svg" %}</span><a href="https://tiktok.com/@plasticmind" class="c-link" target="_blank" rel="noopener noreferrer" title="Teaching people on TikTok.">TikTok</a></li>
            </ul>
          </div>
        </div>
      </footer>
      <div class="c-legal">
        <div class="l-container">
          <p class="c-legal__text">©{{ site.buildDate|dateYear }} Jesse Gardner. Hey, thanks for stopping by.</p>
        </div>
      </div>

